### Executable ###
*.app
*.bat
*.cgi
*.com
*.exe
*.gadget
*.jar
*.pif
*.vb
*.wsf
*.out
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
*.pdf

.gitignore
fourth_lab/task1/task1
fourth_lab/task2/task2
fourth_lab/task6/task6
fourth_lab/task5/task5
